body {
  background-image: url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  background-size: 100%;
}
#scrapeButton{
  background-color: whitesmoke;
  font-size: 18px;
}

#wrapper {
  background: rgb(223, 218, 218);
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#insideWrapper {
  background: rgb(223, 218, 218);
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  widows: 60%;
  height: 200px;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}